<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/bf7c2e40-cd09-4134-902c-7fef852613be/resourceGroups/EverydayWS/providers/Microsoft.ApiManagement/service/EverydayAPIapi/apis/EverydayAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/bf7c2e40-cd09-4134-902c-7fef852613be/resourceGroups/EverydayWS/providers/Microsoft.Web/sites/everydayws</ResourceId>
    <ResourceGroup>EverydayWS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://everydayws.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5e43d5e2-c6aa-4bce-8460-0e0add2e1dd5</ProjectGuid>
    <PublishUrl>https://everydayws.scm.azurewebsites.net/</PublishUrl>
    <UserName>$everydayws</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>